<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monster combat</title>
    <meta name="keywords" content="VueJS,Minigame">
    <meta name="description" content="Enfrenta al malvado monstruo, repositorio de prueba utilizando VueJS y sprites">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="container has-text-centered" id="app" style='margin-top:2em'>
        <h1 class='title has-text-link'>Monster combat</h1>
        <div class="columns is-mobile">
            <div class="column is-1-2  has-text-centered ">
                <h1 class='subtitle has-text-success'>Player</h1>
                <div class="sprite-container">
                    <div id="player--sprite"></div>
                </div>
                <h5 class='is-size-7'>Health</h5>
                <div class="healthbar">
                    <div class="healthbar--inner is-size-7 has-background-success" :style="{width: playerHealth+'%'}">
                        {{playerHealth}}
                    </div>
                </div>
                <h5 class="is-size-7">Rage</h5>
                <div class="ragebar">
                    <div class="ragebar--inner is-size-7 has-background-warning" :style="{width: playerRage+'%'}">
                        {{playerRage}}
                    </div>
                </div>
            </div>
            <div class="column is-1-2has-text-centered ">
                <h1 class='subtitle has-text-danger'>Monster</h1>
                <div class="sprite-container">
                    <div id="monster--sprite"></div>
                </div>
                <h5 class='is-size-7'>Health</h5>
                <div class="healthbar">
                    <div class="healthbar--inner is-size-7 has-background-danger" :style="{width: monsterHealth+'%'}">
                        {{monsterHealth}}
                    </div>
                </div>
            </div>
        </div>
        <div class="columns" v-if='!gameIsRunning'>
            <div class="column is-full has-text-centered">
                <h4 class='subtitle' v-text="message"></h4>
                <a class="button is-dark" @click='startGame'>Start a new game</a>
            </div>
        </div>
        <div class="container" v-else>
                <h4 class='subtitle' v-text="message"></h4>
            <div class="columns is-mobile is-multiline has-text-centered">
                <div class="column is-half-mobile is-one-fourth-desktop">
                    <a class="button is-fullwidth is-info" @click="normalAttack">Normal attack</a>
                </div>
                <div class="column is-half-mobile is-one-fourth-desktop">
                    <a class="button is-fullwidth is-danger" :disabled="playerRage < 100" @click="specialAttack">Special attack</a>
                </div>
                <div class="column is-half-mobile is-one-fourth-desktop">
                    <a class="button is-fullwidth is-primary" @click="selfHeal">Heal</a>
                </div>
                <div class="column is-half-mobile is-one-fourth-desktop">
                    <a class="button is-fullwidth is-warning" @click="escape">Give up</a>
                </div>
            </div>
            <div class="container has-text-centered columns" v-if="combatLog.length>0">
                <div class="column is-8 is-offset-2">
                    <h1 class='title'>Combat log</h1>
                    <ul>
                        <li :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}" v-for="turn in combatLog">{{turn.text}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <footer class='footer has-text-centered'>
        <div class="content">
            Sprites by:<br>    
            <a target="sprite" href="http://gaurav.munjal.us/Universal-LPC-Spritesheet-Character-Generator/">Universal LPC Sprite Sheet Character Generator - Gaurav Munjal</a>
            <br>
            Repository at:
            <a target="repo" href="https://github.com/delebrindel/minigame">Github</a>
        </div>
    </footer>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="animateClass.js"></script>
    <script src="app.js"></script>
</body>
</html>