<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monster</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="container has-text-centered" id="app" style='margin-top:2em'>
        <h1 class='title has-text-link'>Monster combat</h1>
        <div class="columns">
            <div class="column is-1-2 has-text-centered ">
                <h1 class='subtitle has-text-success'>Player</h1>
                <div class="healthbar">
                    <div class="healthbar--inner has-background-success" :style="{width: playerHealth+'%'}">
                        {{playerHealth}}
                    </div>
                </div>
            </div>
            <div class="column is-1-2 has-text-centered ">
                <h1 class='subtitle has-text-danger'>Monster</h1>
                <div class="healthbar">
                    <div class="healthbar--inner has-background-danger" :style="{width: monsterHealth+'%'}">
                        {{monsterHealth}}
                    </div>
                </div>
            </div>
        </div>
        <div class="columns" v-if='!gameIsRunning'>
            <div class="column is-full has-text-centered">
                <a class="button is-dark" @click='startGame'>Start a new game</a>
            </div>
        </div>
        <div class="columns" v-else>
            <div class="column is-full has-text-centered">
                <a class="button is-info" @click="normalAttack">Normal attack</a>
                <a class="button is-danger" @click="specialAttack">Special attack</a>
                <a class="button is-primary" @click="selfHeal">Heal</a>
                <a class="button is-warning" @click="escape">Give up</a>
            </div>
        </div>
        <div class="container has-text-centered columns" v-if="combatLog.length>0">
            <div class="column is-8 is-offset-2">

                <h1 class='title'>Combat log</h1>
                <ul>
                    <li :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}" v-for="turn in combatLog">{{turn.text}}</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>